[user]
    name = Zhihao Jia
    email = zhihao.d.jia@gmail.com

[color]
    status = auto
    branch = auto
    diff = auto

[core]
    editor = /usr/bin/vim
    excludesfile = ~/.gitignore_global
    whitespace = trailing-space,space-before-tab

[merge]
    tool = vimdiff
    stat = true

[diff]
    renames = copies        # detect renames as well as copies

[difftool]
    prompt = false
